* {
  box-sizing: border-box;
}

.container {
  background-color: #23424a;
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
}

.inner_content {
  width: 50%;
}

h1 {
  font-family: "system-ui";
  font-size: 48px;
  color: white;
}

p {
  font-family: "Ariel";
  font-size: 21px;
  color: white;
}

button {
  font-family: "system-ui";
  font-weight: 500;
  padding: 12px;
  font-size: 21px;
  background-color: #38cfd9;
  color: black;
  border: none;
  border-radius: 30px;
}
